.wrapper {
  padding: 20px;
  display: flex;
  justify-content: right;
}
.page {
  padding: 8px;
  border: 1px solid rgb(36, 150, 226, 0.5);
  border-radius: 8px;
  color: rgba(10, 89, 180, 0.822);
  margin-right: 10px;
  cursor: pointer;
}
.page:last-child {
  margin-right: 0;
}
.page-current {
  border: 2px solid rgb(4, 92, 151);
  font-weight: 900;
}
